<nav class="sidemenu">
    <ul>
     <li routerLink="/home">
        <img src="../../../assets/logo__1_-removebg-preview.png" width="45px">
        <span class="logo">Crud Users</span>
     </li>
    </ul>

    <li routerLink="/home"><mat-icon>home</mat-icon>Home</li>
    <li routerLink="/crud"><mat-icon>person_add</mat-icon>Cadastrar usuarios</li>
    <a href="" target="_blank"><li><mat-icon>local_fire_department</mat-icon>Firebase</li></a> <!--Colocar link de portfolio ou linkedin-->
    <a href="" target="_blank"><li><mat-icon>description</mat-icon>Angular</li></a>
    <li routerLink="/login" class="logout"><mat-icon>logout</mat-icon>Sair</li>


</nav>
